<p-pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="Verfügbar" targetHeader="Ausgewählt" [dragdrop]="true"
  [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}" filterBy="productName"
  sourceFilterPlaceholder="Suche nach Namen" targetFilterPlaceholder="Suche nach Namen">
  <ng-template let-product pTemplate="item">
      <div class="product-item">
          <div class="image-container">
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" [alt]="product.productName" class="product-image" />
          </div>
          <div class="product-list-detail">
              <h5 class="mb-2">{{product.productName}}</h5>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{product.productDescription}}</span>
          </div>
          <div class="product-list-action">
              <h6 class="mb-2">€{{product.price}}</h6>
              <span [class]="'product-badge status-' + product.status">{{product.status}}</span>
          </div>
      </div>
  </ng-template>
</p-pickList>

<button pButton (click)="logger()" >Logger</button>
