<div class="card">
  <p-card>
    <p-pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="Verfügbar" targetHeader="Ausgewählt" [dragdrop]="true"
      [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}" filterBy="productName"
      sourceFilterPlaceholder="Suche nach Namen" targetFilterPlaceholder="Suche nach Namen">
      <ng-template let-product pTemplate="item">
          <div class="product-item">
              <div class="image-container">
                      <img [src]="product.file" [alt]="product.productName" class="product-image" />
              </div>
              <div class="product-list-detail">
                  <h5 class="mb-2">{{product.productName}}</h5>
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="product-category">{{product.productDescription}}</span>
              </div>
              <div class="product-list-action">
                  <h3 class="mb-2">€{{product.price}}</h3>
                  <span [class]="'product-badge status-' + product.status">{{product.status}}</span>
              </div>
          </div>
      </ng-template>
    </p-pickList>
    <div class="buyProductsBtn">
      <button pButton (click)="buyProducts()">Ausgewählte Produkte kaufen</button>
    </div>
  </p-card>
</div>
