<div class="availableProducts">
  <mat-card class="product-card" *ngFor="let availableProduct of availableProducts">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ availableProduct.user.username }}</mat-card-title>
      <mat-card-subtitle>{{ availableProduct.productName }}</mat-card-subtitle>
    </mat-card-header>
    <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p> {{ availableProduct.productDescription }}</p>
      <p> {{ availableProduct.price }} €</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Kaufen</button>
    </mat-card-actions>
  </mat-card>
  </div>
