<div *ngIf="myProducts.length === 0">
  <h1 style="text-align: center; font-weight: bold; margin-top: 3rem">Sie haben noch keine Produkte hinzugefügt.</h1>
</div>
<div class="myProducts">
  <mat-card class="product-card" *ngFor="let myProduct of myProducts">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ myProduct.user.username }}</mat-card-title>
      <mat-card-subtitle>{{ myProduct.productName }}</mat-card-subtitle>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="actionsmenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editProduct(myProduct)">
          <mat-icon>edit_circle</mat-icon>
          <span>Produkt bearbeiten</span>
        </button>
        <button mat-menu-item (click)="removeProduct(myProduct.productId)">
          <mat-icon>remove_circle</mat-icon>
          <span>Produkt löschen</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <img class="image" mat-card-image [src]="myProduct.file" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p> {{ myProduct.productDescription }}</p>
      <p> {{ myProduct.status }} </p>
      <p> {{ myProduct.price }} €</p>
    </mat-card-content>
  </mat-card>
  </div>
