<div class="myProducts">
  <mat-card class="product-card" *ngFor="let myProduct of myProducts">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ myProduct.user.username }}</mat-card-title>
      <mat-card-subtitle>{{ myProduct.productName }}</mat-card-subtitle>
    </mat-card-header>
    <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p> {{ myProduct.productDescription }}</p>
      <p> {{ myProduct.status }} </p>
      <p> {{ myProduct.price }} €</p>
    </mat-card-content>
  </mat-card>
  </div>
