<h1 mat-dialog-title>Produkt bearbeiten</h1>
<mat-dialog-content>
  <form #form="ngForm">
    <mat-card-content class="edit-product-content">
    <mat-form-field appearance="fill">
      <mat-label>Produktname</mat-label>
      <input
        matInput
        name="productName"
        required
        [(ngModel)]="model.productName"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Produktbeschreibung</mat-label>
      <input
        matInput
        name="productDescription"
        required
        [(ngModel)]="model.productDescription"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Preis</mat-label>
      <input
        matInput
        name="price"
        type="number"
        required
        [(ngModel)]="model.price"
      />
    </mat-form-field>
  </mat-card-content>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cancel()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="save(form)">Speichern</button>
</mat-dialog-actions>
