<mat-card class="app-card">
  <mat-card-title-group>
    <mat-card-title>Ihre Profilübersicht</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <form #form="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Vorname</mat-label>
        <input
          matInput
          name="firstname"
          required
          #firstname
          [value]="myProfile.firstname"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nachname</mat-label>
        <input
          matInput
          name="lastname"
          required
          #lastname
          [value]="myProfile.lastname"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          name="username"
          required
          #username
          [value]="myProfile.username"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          required
          #password
          [value]="myProfile.password"
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          required
          #password2
          [value]="myProfile.password"
        >
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button class="save" mat-raised-button color="primary" (click)="save(firstname.value, lastname.value, username.value, password.value, password2.value)">Speichern</button>
    <button class="save" mat-raised-button color="warn" (click)="removeAccount()">Account löschen</button>
  </mat-card-actions>
</mat-card>
