<mat-card class="app-card">
  <mat-card-title-group>
    <span>Ihre Profilübersicht</span>
  </mat-card-title-group>
  <mat-form-field appearance="fill">
    <mat-label>Vorname</mat-label>
    <input
      matInput
      name="firstname"
      required
      #firstname
      [value]="myProfile.firstname"
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nachname</mat-label>
    <input
      matInput
      name="lastname"
      required
      #lastname
      [value]="myProfile.lastname"
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input
      matInput
      name="username"
      required
      #username
      [value]="myProfile.username"
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      name="password"
      required
      #password
      [value]="myProfile.password"
    >
  </mat-form-field>
  <mat-card-actions>
    <button class="save" mat-raised-button color="primary" (click)="save(firstname.value, lastname.value, username.value, password.value)">Speichern</button>
  </mat-card-actions>
</mat-card>
