<mat-card class="login-card">
    <mat-card-title style="text-align: center">Login</mat-card-title>
    <mat-card-content class="login-card-content">
        <mat-form-field class="login-form-field">
            <mat-label>Username</mat-label>
            <input #username matInput placeholder="Max Mustermann">
        </mat-form-field>
        <mat-form-field class="login-form-field">
            <mat-label>Password</mat-label>
            <input type="password" #password matInput placeholder="************">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="login-card-actions">
        <button class="loginButton" mat-raised-button color="primary" (click)="login(this.username.value, this.password.value)">Login</button>
        <button class="registerButton" mat-raised-button color="secondary" (click)="register()">Jetzt registrieren</button>
    </mat-card-actions>
  </mat-card>
